{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}



{% block body_block %}
<style>
    body {
        background-color: white;

    }

    .container-1 {
        background-color: whitesmoke;
        margin: auto;
        padding: 0px;
        height: 700px;





        /* -webkit-animation: mymove 5s infinite;
        /* Safari 4.0 - 8.0 */
        /* animation: mymove 5s infinite; */



        padding: 10px 10px 20px 10px;
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #aaaaaa;

    }
</style>



<div class="container-1">









<!-- Section: Testimonials v.1 -->
<section class="text-center my-5 p-1">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Assembly Guideline</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">.</p>





</section>
<!-- Section: Blog v.1 -->

</div>
</div>

{% endblock %}